@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        <a href="https://localhost:9443/commonauth?commonAuthLogout=true&type=passivests&sessionDataKey=abc123&commonAuthCallerPath=http://localhost:3240/Account/LogOff&relyingParty=MVC4WebApp">Log Off</a>
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
