<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="Mvc4SingleSignOnSAML2"
                   AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService"
                   LocalCertificateFile="wso2carbon.pem"
                   LocalCertificatePassword="wso2carbon"/>

  <PartnerIdentityProvider Name="localhost"
                           SignAuthnRequest="false"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="true"
                           WantAssertionEncrypted="false"
                           SingleSignOnServiceUrl="https://localhost:9443/samlsso"
                           SingleLogoutServiceUrl="https://localhost:9443/samlsso"
                           PartnerCertificateFile="wso2carbon.pem"/>
</SAMLConfiguration>
