@model IEnumerable<Mvc4SingleSignOnSAML2.Models.Ticket>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets Available</h1>

<table>
    <tr>
        <th style="width: 20px;">ID</th>
        <th style="width: 100px;">Event</th>
        <th style="width: 100px;">Venue</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.ID</td>
        <td>@item.Event</td>
        <td>@item.Venue</td>
    </tr>
}

</table>
